{% include 'index.html' %}
{% load static %}
<html>
    <head>
        {% load static %}
        <link href="{% static 'css/styl.css' %}" rel="stylesheet">
        <style>
            body{
                background-image: url("{% static 'image/back.gif' %} ");
                height:fit-content;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                
            }
        </style>
        {% load static %}
    </head>
    <body id="all">
        <section class="main-lab">
            <legend align="center"><h1 id="head">Personal Details</h1></legend>
            <img src="{% static 'image/pubg.jpeg' %}" width="200px" height="200px" align="right" class="img">
            <div class="contain">
            <div class="lab"><label class="lab-sub" id="name">
                Name : </label><label>
                Jawahar R</label>
            </div>
            <div class="lab"><label class="lab-sub" id="mob">
                Mobile : </label><label>
                9585827165</label>
            </div>
            <div class="lab"><label class="lab-sub" id="mail">
                email : </label><label><a href="jawaharjfk@gmail.com">jawaharjfk@gmail</a> </label>
            </div>
            <div class="lab"><label class="lab-sub" id="add">
                Address : </label>
                <label >
            88/33,Middle street,</label><br><label class="sub">
            kutchipalayam<br></label>
        <label class="sub">p.velur(T.K)<br></label>
    <label class="sub">Namakkal(D.T)
            </label>
            </div>
        </div>
        </center>
        </section>
        <div id="fall"><a href="#" >
        <img src=" {% static 'image/cuite.gif' %}" width="450px" height="240px" align="right" id="im1"></a>
        <div>
        <ul>
            <li class="flist"><a href="#" class="fli">Contact</a></li>
            <li class="flist"><a href="#" class="fli">Phone</a></li>
            <li class="flist"><a href="#" class="fli">Email</a></li>
            <li class="flist"><a href="#" class="fli">Home</a></li>
       </ul><br><br>
       <ul id="ficon">
        <li class="flist"><a href="#" class="ficon"><img src="{% static 'image/fb.png' %}" width="30px" height="30px"> </a> </li>
        <li class="flist"><a href="#" class="ficon"><img src="{% static 'image/insta.jpeg' %}" width="30px" height="30px"> </a> </li>
        <li class="flist"><a href="#" class="ficon"><img src="{% static 'image/serv.png' %}" width="30px" height="30px"> </a> </li>
        <li class="flist"><a href="#" class="ficon"><img src="{% static 'image/wtapp.png' %}" width="30px" height="30px"> </a> </li>
        <li class="flist"><a href="#" class="ficon"><img src="{% static 'image/ytube.png' %}" width="30px" height="30px"> </a> </li>
       </ul>
    </div>
    </div>
    </body>
</html>