#top{
    
    border-style: solid;
    height: 270px;
    background-image: linear-gradient(black,rgb(224, 228, 14));
}
.top{
    color: rgb(236, 236, 32);
    font-size: 35px;
    border-style: solid;
    background-color: black;
}
.mine{
    width:200px;
    padding-top: 10px;
    color: rgb(12, 12, 12);
    font-size: 30px;
}
#all{
    background-color: rgb(37, 104, 104);
}
navbar{
    width: 100%;
    padding-left: 0px;
}
navbar ul{
    list-style: none;
    overflow: hidden;
    width: 100%;
}
navbar ul li{
    width:310px;
    float: left;
}
navbar ul li a{
    display:block;
    color: rgb(124, 185, 238);
    background-color: black;
    text-align: center;
    text-decoration: none;
    
    height:50px;
    padding: 20px 0 0;
    font-size: 20px;    
}
navbar ul li a:hover{
    background-color: rgb(233, 89, 89);
    scale: (1.1);
    transition: background 0.5sec;
}


.main-lab{
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 50px;
    background-image: radial-gradient(rgb(199, 154, 29),rgb(17, 11, 11));
    border-radius: 20px;
    color: antiquewhite;
    border-style: solid;
    height: 350px;
    box-shadow: 20px 25px 10px rgb(21, 24, 18);
}
.lab{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: aquamarine;
    padding-left: 10px;
    padding-top: 5px;
}
.lab-sub{
    color: rgb(17, 219, 34);
    padding-right: 10px;
}
.contain{
    margin-left: 40px;
}
.sub{
    margin-left: 95px;
}
#head{
    color: aqua;
    font-weight: bold;
    font-size: 40px;
    border-radius: 5px;
    background-color: black;
}
.img{
    padding-right: 50px;
}
.eli{
    list-style: none;
    overflow: hidden;
    width: 100%;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 28px;
    color: rgb(19, 18, 17);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    border-style: solid;
    background-image: linear-gradient(rgb(28, 199, 71),rgb(214, 214, 24));
    border-color: rgb(8, 19, 16);
    border-width: 5px;
    width: 500px;
}
.emain-lab{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    background-image: radial-gradient(rgb(109, 106, 99),rgb(17, 11, 11));
    border-radius: 20px;
    color: antiquewhite;
    border-style: solid;
    box-shadow: 20px 25px 10px rgb(44, 48, 41);
    border-color: rgb(49, 207, 120);
}
#img1{
    margin-left: 350px;
    border-style: solid;
    border-color: black;
    box-shadow: 20px 25px 20px rgb(53, 25, 36);

}
#cen{
    margin-left: 90px;
    margin-top: 20px;
}
#righ{
    margin-right: 20px;
}
#iti{
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(247, 7, 7);
    margin-left: 60px;
}
#cu{
    padding-left: 70px;
}
.img1{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}
#esub{
    margin-left: 200px;
    padding-left: 100px;
    font-size: 30px;
    color: rgb(209, 247, 43);
    font-weight: 300;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width:400px;
    background-color: black;
}
.icon{
    background-color: black;
    border-radius: 50%;
}
.simg{
    margin-left: 200px;
    border-radius: 30px;
    margin-top: 50px;
}
#w1{
    align-items: center;
    color: black;
    font-size: 30px;
    font-family: monospace;
}
#shead{
    color: rgb(43, 77, 4);
    font-weight: bold;
    font-size: 40px;
    margin-left: 400px;
    margin-bottom: 40px;
}
.scon{
    list-style: none;
    overflow: hidden; 
    background-image: linear-gradient(rgb(231, 177, 77),grey);
}
.qtable{
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(70, 7, 7);
}
#qhead{
    text-align: center;
    font-size: 30px;
    color: rgb(255, 188, 5);
    font-weight: bolder;
    background-image: linear-gradient(rgb(5, 5, 5),rgb(84, 84, 248));
    border-style: solid;
    border-color: rgb(7, 7, 7);
    border-width: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#qsub{
    border-style: solid;
    border-color: rgb(7, 7, 7);
    border-width: 1px;
    font-size: 25px;
    color: black;
    background-image: linear-gradient(rgb(153, 120, 230),rgb(70, 70, 206));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#qrow{
    background-color: rgb(147, 147, 236);
}
#bg{
    background: url(static/image/kbd.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    
}
#fall{
    background-color: rgb(8, 8, 8);
    margin-top: 50px;
    width: 100%;
    list-style: none;
    overflow: hidden;
    border-style: solid;
    border-color: aliceblue;
}
#im1{
    margin-right: 20px;
    margin-top: 5px;
    border-style: solid;
    border-color: rgb(27, 26, 26);
}
.flist{
    list-style: none;
    overflow: hidden;
    float: left;
    align-items: center;
    
    }
.fli{
    display: block;
    float: left;
    text-decoration: none;
    height: 30px;
    text-align: center;
    width: 370px;
    padding: 30px 5px 40px;
    background-color: rgb(7, 7, 7);
    font-size: 20px;
    color: aliceblue;
}
.fli:hover{
    background-color: rgb(20, 20, 20);
}
.ficon{
    margin-left: 40px;   
}
.ficon:hover{
    background-color: rgb(255, 255, 3);
}
#ficon{
    margin-left: 200px;
}
